<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marvel Card Battle</title>

    <link rel="stylesheet" href="/style.css">

    <script src= "/cardTemplates.js" charet ="utf-8" defer></script>


  </head>
  <body>

    <header>

      <h1 class="site-title">Marvel Card Battle</h1>

    </header>

      <header>

        <main class="content">
          <aside class="menu-container-left">

            <!--
              Dont know if we need a menu, but it was on the layout so it's here for now
            -->

            <h2>Menu</h2>
            <div class = "menu-container">
              <button id="new-game-button" class="action-button">New Game</button>
            </div>

            <!--<div class = "menu-container">
              <button id="quit-button" class="action-button">Quit</button>
            </div>-->

          </aside>

          {{{body}}}

        </main>
  </body>
</html>
