<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marvel Card Battle</title>

    <link rel="stylesheet" href="/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src= "/index.js" charset ="utf-8" defer></script>
    <script src= "/cardTemplates.js" charset ="utf-8" defer></script>


  </head>
  <body>

    <header>

      <div class="header-image-logo">
        <img scr="/public/DecorativeImages/marvel-logo.png" alt="Marvel Logo">
      </div>

      <h1 class="site-title">Marvel Card Battle</h1>

    </header>

          {{{body}}}

  </body>
</html>
