<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marvel Card Battle</title>

    <link rel="stylesheet" href="/style.css">

    <script src= "/cardTemplates.js" charet ="utf-8" defer></script>


  </head>
  <body>

    <header>

      <h1 class="site-title">Marvel Card Battle</h1>

    </header>

          {{{body}}}

  </body>
</html>
