<section id="card-table">

  <div class="battle-zone">
    <div id="villain-card-options" class="card-hand">
      <!--
        This is were people chose which villain they want to fight
      -->

      <div class="villain-card-1">
        <!--
          This is where the first of three random villain cards go
        -->
      </div>

      <div class="villain-card-2">

      </div>

      <div class="villain-card-3">

      </div>
    </div>

    <div class="villain-card-table">
      <!--
        This is where the selected villain card and stats go
      -->
      <div class="villain-card-spot">
        <!--
          Image of card here
        -->
      </div>
      <div class="villain-data-boxes">
        <div class="attack-total">
          <!--
            Calculated total attack damage goes here
          -->
        </div>
        <div class="dice-roll">
          <!--
            Villain dice roll goes here
          -->
        </div>
      </div>
    </div>

    <div class="hero-card-table">
      <!--
        This is where the selected hero card and stats go
      -->
      <div class="hero-card-spot">
        <!--
          Image of card here
        -->
      </div>
      <div class="hero-data-boxes">
        <div class="attack-total">
          <!--
            Calculated total attack damage goes here
          -->
        </div>
        <div class="dice-roll">
          <!--
            Hero dice roll goes here
          -->
        </div>
      </div>
    </div>

    <div id="hero-card-options" class="card-hand">
      <!--
        This is were people chose which villain they want to fight
      -->

      <div class="hero-card-1">
        <!--
          The size would change based on how many cards player has
        -->
      </div>
    </div>
  </div>

  <div class="card-purchace-table">
    <div class="points-gained">
      <!--
        display points here
      -->
    </div>
  <div class = "menu-container-right">
    <div class="hero-decks">
      <h3>Cost 1</h3>
        <button id="level-1-hero-button" class="action-button">Level 1 Hero</button>
      <h3>Cost 2</h3>
        <button id="level-2-hero-button" class="action-button">Level 2 Hero</button>
      </div>
    </div>
  </div>

</section>
