<main class = "content">
<!--Not sure if I am going to keep this section as a header or not, causes background.-->
      <aside class="menu-container-left">

        <!--
          Dont know if we need a menu, but it was on the layout so it's here for now
        -->

        <div class = "menu-newgame-left">
        <h2>Menu</h2>
          <div class = "NG-button">
            <button id="new-game-button" class="action-button">New Game</button>
          </div>
        </div>


        <div class = "menu-store-left">
            <h3>1 Cost Heroes</h3>
            <div class = "hero-decks">
              <button id="level-1-hero-button" class="deck-one-button">Level 1 Hero Deck</button>
              <!--Find a way to make the button pull a 1 cost hero and take one of the players' cost points.-->
            </div>
            <h3>2 Cost Heroes</h3>
            <div class = "hero-decks">
              <button id="level-2-hero-button" class="deck-two-button">Level 2 Hero Deck</button>
              <!--Find a way to make the button pull a 2 cost hero and take two of the players' cost points.-->
            </div>
          </div>

      </aside>



<section id="card-table">
  <div class="battle-zone">
      <div id="villain-card-options" class="card-hand">
        <!--
          This is were people chose which villain they want to fight
        -->

        {{#each villains}}
          {{>villainCard}}
        {{/each}}
      </div>


    <div class= "battlefield">
    <div class="villain-card-table">
      <!--
        This is where the selected villain card and stats go
      -->
      <div id="villain-card-spot">
        <!--
          Image of card here
        -->
      </div>
      <div class="villain-data-boxes">
        <div class="attack-total">
          <!--
            Calculated total attack damage goes here
          -->
        </div>
        <div class="dice-roll">
          <!--
            Villain dice roll goes here
          -->
        </div>
      </div>
    </div>

    <div class="hero-card-table">
      <!--
        This is where the selected hero card and stats go
      -->
      <div id="hero-card-spot">
        <!--
          Image of card here
        -->
      </div>
      <div class="hero-data-boxes">
        <div class="attack-total">
          <!--
            Calculated total attack damage goes here
          -->
        </div>
        <div class="dice-roll">
          <!--
            Hero dice roll goes here
          -->
        </div>
      </div>
    </div>
  </div>

    <div id="hero-card-options" class="card-hand">
        {{#each heroes}}
          {{>heroCard}}
        {{/each}}
    </div>
  </div>

</section>

  <div class="card-purchace-table">
    <div class="points-gained">
      <!--
        display points here
      -->
    </div>

  </div>
