body{
  font-family: 'Georgia', sans-serif;
  margin: 0;
}

header{
  background-color: brown;
  display: block;
  align-items: center;
  position: relative;
}

header a {
  color: #fff;
}

.site-title{
  font-family: "Georgia", serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
}

.content {
  display: flex;
}

.menu-container-left{
  display: inline-block;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  margin: 10px 10px auto 10px;
  padding: 20px;
  border-radius: 3px;
  background-color: #efefef;
  float: left;
}

.menu-container-right{
  display: inline-block;
  min-width: 100px;
  max-width: 100px;
  margin: 10px 10px auto 10px;
  padding: 20px;
  border-radius: 3px;
  background-color: #efefef;
  float: right;
}

.battle-zone{
  background-color: green;
  width: 100%;
  min-width: 500px;
  max-width: 1000px;
  min-height: 500px;
  max-height: 1000px;
  margin: 10px 5px auto 5px;
  display: inline-block;
}

.menu-container{
  width: 100%;
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
