body{
  font-family: 'Georgia', sans-serif;
  margin: 0;
}

header{
  background-color: #ed1d24;
  display: block;
  align-items: center;
  position: relative;
}

header a {
  color: #fff;
}

.site-title{
  font-family: "Helvetica", sans-serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
}

.menu-container-left{
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: #a17820;
  float: left;
  max-width: 100px;
  padding: 5px;
}

.menu-container-right{
  display: inline-block;
  min-width: 100px;
  max-width: 100px;
  padding: 5px;
  background: purple;
  float: right;
}

#card-table {
  flex: 1;
  overflow: auto;
}

.battle-zone{
  display: flex;
  flex-direction: column;
  background-color: green;
  align-items: center;
  margin: 0;
}

.menu-container{
  width: 100%;
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.menu-store-left{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-decks{
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
}

.deck-two-button{
  background-image: url(/CardBacksPNGs/Card-Back-lvl2.png);
  background-repeat: no-repeat;
  background-size: 100px 150px;
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  border-radius: 5px;
}

.deck-one-button{
  background-image: url(/CardBacksPNGs/Card-Back-lvl1.png);
  background-repeat: no-repeat;
  background-size: 100px 150px;
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  border-radius: 5px;
}

.card-hand{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 500px;
  max-width: 1000px;
  max-height: 175px;
  min-height: 175px;
  margin: 10px;
  align-items: center;
  flex-wrap: wrap;
}

#villain-card-options .card-image img{
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  border-radius: 5px;
}

#hero-card-options .card-image img{
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  border-radius: 5px;
}


#villain-card-options .villain-card{
  display: flex;
  align-items: center;
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  margin: 2px;
  margin-right: 8px;
  margin-left: 8px;
}

#hero-card-options .hero-card{
  display: flex;
  align-items: center;
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  margin: 2px;
  margin-right: 8px;
  margin-left: 8px;
}

#villain-card-spot .villain-card{
  width: 200px;
  height: 300px;
}

#hero-card-spot .hero-card{
  width: 200px;
  height: 300px;
}

#villain-card-spot .villain-card .card-image img{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

#hero-card-spot .hero-card .card-image img{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.villain-card-table{
  width: 250px;
  height: 310px;
  background: black;
  margin: 5px;
  display: flex;
}

#villain-card-spot{
  width: 200px;
  height: 300px;
  background: grey;
  margin: 5px;
}

.villain-data-boxes{
  width: 40px;
  height: 310px;
}

.attack-total{
  width: 30px;
  height: 30px;
  margin: 5px;
  background: orange;
}

.dice-roll{
  width: 30px;
  height: 30px;
  margin: 5px;
  background: red;
}

.final-total{
  width: 30px;
  height: 30px;
  margin: 5px;
  background: blue;
}

.hero-card-table{
  width: 250px;
  height: 310px;
  background: white;
  margin: 5px;
  display: flex;
}

#hero-card-spot{
  width: 200px;
  height: 300px;
  background: lightgrey;
  margin: 5px;
}

.hero-data-boxes{
  width: 40px;
  height: 310px;
}

.battlefield{
  display: inline-flex;
}
