body{
  font-family: 'Georgia', sans-serif;
  margin: 0;
}

header{
  background-color: brown;
  display: block;
  align-items: center;
  position: relative;
}

header a {
  color: #fff;
}

.site-title{
  font-family: "Georgia", serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
}

.content {
  display: flex;
}

.menu-container-left{
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: #a17820;
  float: left;
  max-width: 100px;
  padding: 5px;
}

.menu-container-right{
  display: inline-block;
  min-width: 100px;
  max-width: 100px;
  margin: 10px 10px auto 10px;
  padding: 20px;
  border-radius: 3px;
  background-color: #efefef;
  float: right;
}

.battle-zone{
  display: flex;
  flex-direction: column;
  background-color: green;
  align-items: center;
  /*min-width: 500px;
  max-width: 1000px;
  min-height: 500px;
  max-height: 1000px;*/
  margin: 0;
}

.menu-container{
  width: 100%;
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.menu-store-left{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-decks{
  background-color: blue;
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
}

.deck-two-button{
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  border-radius: 5px;
}

.deck-one-button{
  background-image: url(/CardBacksPNGs/Card-Back-lvl1.png);
  background-repeat: no-repeat;
  background-size: 100px 150px;
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  border-radius: 5px;
}

.card-table{
  max-width: 90%;
  min-width: 90%;
}

.card-hand{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 500px;
  max-width: 1000px;
  max-height: 175px;
  min-height: 175px;
  margin: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.card-image img{
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  border-radius: 5px;
}


.villain-card{
  display: flex;
  align-items: center;
  min-width: 100px;
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  margin: 2px;
  margin-right: 8px;
  margin-left: 8px;
}

.card-purchace-table{
  min-width: 50px;
  height: 500px;
  background-color: purple;
}

.villain-card-table{
  min-width: 200px;
  max-width: 200px;
  max-height: 300px;
  min-height: 300px;
  background: black;
  margin: 5px;
}

.hero-card-table{
  min-width: 200px;
  max-width: 200px;
  max-height: 300px;
  min-height: 300px;
  background: white;
  margin: 5px;
}

.battlefield{
  display: inline-flex;
}
